/*
============================================
; Title:  API-Gateway
; Author: Kevin Jones
; Date: 17 January 2021
; Description: style.css file for gateway project
;===========================================
*/

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}
